<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Request Handlers -->
    <bean id="loginRequestProcessor" class="com.aybits.hms.login.LoginRequestProcessor"/>
    <bean id="bookingRequestProcessor" class="com.aybits.hms.booking.BookingRequestProcessor"/>
    <bean id="employeeRequestProcessor" class="com.aybits.hms.Employee.EmployeeRequestProcessor"/>
    <bean id="roomRequestProcessor" class="com.aybits.hms.room.RoomRequestProcessor"/>
    <bean id="hotelRequestProcessor" class="com.aybits.hms.hotel.HotelRequestProcessor"/>
    <bean id="customerRequestProcessor" class="com.aybits.hms.customer.CustomerRequestProcessor"/>
    <bean id="roomCategoryRequestProcessor" class="com.aybits.hms.room.RoomCategoryRequestProcessor"/>
    <bean id="billingRequestProcessor" class="com.aybits.hms.billing.BillingRequestProcessor"/>
    <bean id="invoiceRequestProcessor" class="com.aybits.hms.invoice.InvoiceRequestProcessor"/>
    <bean id="featureRequestProcessor" class="com.aybits.hms.feature.FeatureRequestProcessor"/>
    <bean id="hmsRequestHandler" class="com.aybits.hms.common.HMSRequestHandler"/>

</beans>